.collapsible-table-container {
  .el-collapse-item__header {
    height: 36px;
  }
  .el-collapse-item__content {
    font-size: 11px !important;
  }
}

.small-hyperlink-text-style {
  color: blue;
  text-decoration: underline;
}