.outstanding-notif {
  position: absolute;
  right: -4px;
  top: -4px;
  margin: 0 !important;
  background: #DC1641;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}