.input-group { 
    padding-right:13px;
}
button.form-floating {
    padding-top: 28px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
input.form-floating {
    padding-top: 28px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 1rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    z-index: 9;
    font-size: 14px;
    font-weight: 600;
    // opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    color: #212B36 !important;
}