.intervention-label {
  .yellow {
    color: #CC9A06;
    background: inherit;
  }
  .red {
    color: #FF4842;
    background: inherit;
  }
  .green {
    color: #54D62C;
    background: inherit;
  }
}
