//
// Main init file of global bootstrap and theme functions, mixins, variables and config
//

// Custom functions & mixins
@import './core/base/functions';
@import './core/base/mixins';
@import './core/components/mixins';
@import './core/vendors/plugins/mixins';

// Custom variables
@import 'components/variables.custom';
@import './core/components/variables';
@import './typography/custom-typography-variables';

// Bootstrap initializaton
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

// 3rd-Party plugins variables
@import './core/vendors/plugins/variables';

// Custom layout variables
@import 'layout/variables';
@import './core/layout/docs/variables';

// Desktop mode
@include media-breakpoint-up(lg) {
	.aside {
		width: get($aside-config, width);
		transition: width get($aside-config, transition-speed) ease;

		// Logo
		.aside-logo {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: get($header-config, default, height, desktop);
			padding: 0 get($aside-config, padding-x);
		}

		// Aside menu
		.aside-menu {
			width: get($aside-config, width); 
		}
		
		// Fixed aside mode
		.aside-fixed & {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: get($aside-config, z-index);
			overflow: hidden;
		}

		// Static aside mode
		.aside-static & {
			position: relative;
			z-index: 1;
		}

		// Minimize aside mode
		[data-kt-aside-minimize="on"] & {
			width: get($aside-config, minimized-width);
			transition: width get($aside-config, transition-speed) ease;

			// Logo
			.aside-logo {
				.logo-default {
					display: inline-block;
				}
	
				.logo-minimize {
					display: none;
				}
			}

			// Hoverable
			&.aside-hoverable:hover:not(.animating) {
				transition: width get($aside-config, transition-speed) ease;
				width: get($aside-config, width);
				box-shadow: get($aside-config, minimized-hover-box-shadow);
			}

			// Not hovered mode
			&:not(.aside-hoverable),
			&:not(:hover) {
				// Logo
				.aside-logo {
					justify-content: center;

					.logo {
						display: none;
					}

					.logo-default {
						display: none;
					}
		
					.logo-minimize {
						display: inline-block;
					}
				}				

				// Menu
				.aside-menu {
					.menu-content,
					.menu-title {
						opacity: 0;
						transition: opacity get($aside-config, transition-speed) ease;
					}

					.menu-item.show > .menu-sub {
						height: 0;
						overflow: hidden;
						transition: height get($aside-config, transition-speed) ease;
					}
				}

				// Custom button
				.btn-custom {
					.btn-label {
						width: 0;
						opacity: 0;
						transition: opacity get($aside-config, transition-speed) ease;
					}	

					.btn-icon {
						width: auto;
						opacity: 1;
						transition: opacity get($aside-config, transition-speed) ease;
					}
				}
			}
		}
	}
}

// Custom typography
@import './typography/custom-typography';
@import './font';
@import 'components/dma/font-configuration'
