//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import 'init';

// Components
@import 'core/components/components';
@import 'components/components';

// Layout
@import 'layout/layout';
@import 'core/layout/docs/layout';

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Poppins/poppins-v20-devanagari-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Poppins/poppins-v20-devanagari-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Poppins/poppins-v20-devanagari-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Poppins/poppins-v20-devanagari-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Poppins/poppins-v20-devanagari-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Poppins/poppins-v20-devanagari-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}


body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: $root-font-size !important;
  font-weight: $font-weight-base;
  font-family: Poppins, Helvetica, "sans-serif" !important;

  // Tablet mode
  @include media-breakpoint-down(lg) {
      font-size: $root-font-size-lg !important;
  }

  // Mobile mode
  @include media-breakpoint-down(md) {
      font-size: $root-font-size-md !important;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a:hover,
  a:active,
  a:focus {
      text-decoration: none !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: $body-color;
}

// Angular integration
router-outlet {
  display: none;
}

canvas {
  user-select: none;
}


// opsol spesific
#kt_header {
  background-color: $darkblue;
  color: $white;
}

@media (max-width: 1100px) {
  .el-form-item__label {
    width: 400px !important;
  }
  .card .card-body .dropzone-upload label {
    width: 400px !important;
  }
}

.text-brown {
  color: #3f4254;
}

.text-blue-gray {
  color: #37474f !important;
}

.text-light-blue {
  color: #0d47a1 !important;
}

.text-light-gray {
  color: #b0bec5 !important;
}

.text-blue-gray-300 {
  color: #90a4ae !important;
}

// Menu.vue
.menu-link {
  padding: 0.65rem 1rem;
  height: 40px;
}
.menu-state-bg .menu-item.hover > .menu-link:not(.disabled):not(.active),
.menu-state-bg .menu-item .menu-link:hover:not(.disabled):not(.active) {
  transition: color 0.2s ease, background-color 0.2s ease;
  background-color: #f2f3f7;
}

.menu-state-bg .menu-item .menu-link.active {
  transition: color 0.2s ease, background-color 0.2s ease;
  background-color: #f2f3f7;
}

.menu-title {
  color: $white;
}

.fas {
  color: $white;
}

a.active .fas {
  color: $orange !important;
}

.fas:hover {
  color: $orange !important;
}

// grid buttons
.grid-icon-buttons {
  .btn-light {
    background-color: #fff !important;
  }
  .btn {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
.demo-pagination-block {
  margin-top: 20px;
  margin-bottom: 2rem;
}

.cell {
  word-break: break-word !important;
}

.grid {

  &-follow-up,
  &-demography-list {
    width: 100%;

    .el-table__row {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &-operator-pegangan-list {
    .text {
      &-green {
        color: #1ee0ac !important;
      }

      &-red {
        color: #e85347 !important;
      }
    }

    .operator-pegangan-initial {
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      span {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: #3c8efe;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #fff;
        font-weight: 500;
      }
    }

    .multi-line-grid {
      &-large {
        font-weight: 600;
      }

      &-small {
        font-size: 11px;
        color: #8094ae;
      }
    }

    .operator-pegangan-col {
      &-status,
      &-type {
        font-weight: 500;
      }
    }

    .action-column {
      display: inline-block;
      margin-right: 16px;

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.duotune-icon {
  background-color: #ffffff;
  .svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: #90a4ae;
  }
  &.disabled {
    .svg-icon svg [fill]:not(.permanent):not(g) {
      transition: fill 0.3s ease;
      fill: #eceff1;
    }
  }
}

.btn-small {
  width: 30px !important;
  height: 30px !important;
}

.el-dialog__body {
  padding-top: 5px;
}

.el-overlay {
  .el-dialog {
    border-radius: 8px;
    .el-dialog__header {
      .el-dialog__headerbtn {
        background-color: #eeeeee;
        padding: 0 6px;
        border-radius: 8px;
        .el-dialog__close {
          color: #b5b5c3;
          font-weight: bolder;
        }
      }
    }

    .el-dialog__footer {
      .el-button {
        border-radius: 12px;
        &.el-button--success {
          border-color: #ECEFF1;
          background-color: #ECEFF1;
          color: #90A4AE;
          &:hover {
            opacity: 0.7 !important;
          }
        }
        &.el-button--primary {
          background-color: #1976D2;
          border-color: #1976D2;
          color: #FFFFFF;
        }
      }
    }

    .multiselect-dropdown {
      overflow-y: auto !important;
    }

    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
      width: 100% !important;
    }

    .el-dialog {
      &__title {
        font-weight: 600;
        font-size: 16px;
      }
      &__header {
        border-bottom: 1px solid #eff2f5;
      }
    }

    .el-form-item__label {
      color: #202124 !important;
      font-weight: 600 !important;
      font-size: 0.9675rem !important;
    }
  }
}

// BUTTONS

.btn-go-to-apps {
  background-color: #1976d2;
  color: #ffffff;
}

.btn-go-to-apps:hover {
  background-color: #1976d2;
  color: #ffffff;
}

.vertical-center-block {
  display: flex;
  flex-direction: column;
  flex: 1;

  &-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
  }
}

.swal2-container {
  z-index: 9999 !important;
}

.status-badge {
  font-weight: 700 !important;
  font-size: 12px !important;
  border-radius: 6px;
  margin-right: 8px;

  &.gray {
    color: rgb(117, 131, 144) !important;
    background-color: rgb(244, 246, 248) !important;
  }

  &.blue {
    color: rgb(19, 140, 208) !important;
    background-color: rgb(204, 237, 255) !important;
  }

  &.green {
    color: #fff !important;
    background-color: rgb(24, 175, 74) !important;
  }
}

.el-defect-crack-form-custom .el-dialog__title.task-title, .defect-identified-task {
  .show-pdf,
    .spv-print-pdf {
      color: black;
      text-decoration: none;
      pointer-events: none;
  
      u {
        text-decoration: none;
      }
  
      strong {
        font-weight: 400;
      }
    }
}

.break-word {
  overflow-wrap: break-word;
  word-break: break-word;
}
